* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
        padding: $padding*2;
        width: 85%;
        margin: auto;
}

ul {
    list-style-type: none;
} 

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.buttons {
    color: white;
    padding: 15px 25px;
    border-radius: 18px;
    font-size: 15px;
    cursor: pointer;
}

.azure_button {
    border: #2955cc;
    background: #2955cc;
}

.coral_button {
    border: #B6246E;
    background: #F9636B;
}


.text_area {
    width: 50%;

    h1 {
        padding-top: $padding*10;
        font-size: $font_standard*5;
    }

    span {
        font-weight: 300;
    }

    p {
        width: 70%;
        font-size: $font_standard*1,5;
        color: #03A7D3E6;
        padding: $padding*3 0;
    }
}