* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

//classi globali
.wrapper {
        padding: $padding*2;
        width: 90%;
        margin: auto;
}

ul {
    list-style-type: none;
} 

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.buttons {
    color: white;
    border-radius: 18px;
    font-size: $font_standard;    
    padding: $padding $padding*2;
    cursor: pointer;
}

.azure_button {
    border: #2955cc;
    background: $azure_button;
}

.coral_button {
    border: #B6246E;
    background: $coral_button;
}


.text_area {
    width: 50%;

    h1 {
        padding-top: $padding*10;
        font-size: $font_standard*5;
    }

    span {
        font-weight: 300;
    }

    p {
        width: 70%;
        font-size: $font_standard*1,5;
        color: #03A7D3E6;
        padding: $padding*3 0;
    }
}

//buttons_fixed
.arrow_up {
    position: fixed;
    border-radius: 50%;
    background-color: $white_text;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    bottom: $padding*5;
    right: 95px;

    a {
        color: rgb(34, 34, 34);
    }
}


.assistant {
    position: fixed;
    border-radius: 50%;
    background-color: #527CEB;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: $padding*3;
    right: 55px;

    i {
        color: $white_text;
    }
}