.wrepper h2 {
    font-weight: 200;
}

//section_one

.jumbo_one {
    padding: $padding*5;
    text-align: center;

    .jumbo_one_text {
        @include flex_display;
        padding: $padding*8 0;

        .jumbo_one_img {
            padding: $padding;

            h4 {
                padding: 15px 0;
                font-size: 30px;
            }

            img {
                width: 155px;
                height: 145px;
            }

            p {
                margin: auto;
                width: 65%;
            }
        }
    }
}

.jumbo_one_subtitle {
    color: #f74b6e;
}

.jumbo_five {
    h2 {
        font-weight: 900;

    span {
        font-weight: 400;
    }
    }
}
//section_two

    .jumbo_two {
        align-items: center;
        @include flex_display;

        .jumbo_two_img {
            width: 50%;
            padding: $padding*5;
            position: relative;
            
            .img_graph {
                position: absolute;
                width: 50%;
            }

            img {
                width: 80%;
        }

    }
}

//section_three
.jumbo_three {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: $padding*3 0;


    .jumbo_three_text {
        @include flex_display;
        padding: 3$padding*2,5 0;
        align-items: center;
        justify-content: space-between;

        .direction {

            .arrow {
                border: 3px solid pink;
                border-radius: 50%;
                cursor: pointer;
                padding: $padding;
                margin: 0 $padding;

                i {
                    color: pink;
                }
            }
        }
    }
    .jumbo_three_center {
        display: flex;
        padding: $padding*3 0;
        margin: 0 -30%;

       .card_jumbo_three {
           background-color: $white_text;
           border-radius: 18px;
           margin: 0 $padding*2;
           overflow: hidden;

            img {
                width: 430px;
                border-radius: 18px;
            }

            .jumbo_three_content {
                @include flex_display;
                justify-content: space-between;
                padding: $padding*2;

                .jumbo_three_card_title {
                    font-weight: bold;
                }

                .jumbo_three_text_down {
                    color: $gray_footer;
                }
            }
       }
    }

    .circle_selector {
        padding: $padding;
        text-align: center;


        i {
            font-size: $font_standard;
            color: gray;
            margin: 0 $padding/3;


            &:first-child {
                color: pink;
            }
        }
    }
}

.jumbo_four_container {
    text-align: center;
    padding-top: $padding*3;
    padding-bottom: $padding*10;
    margin: auto;

    .wrapper{
        width: 100%;
    }

    h2 {
        color: $white_text;
    }

    .jumbo_four {
        @include flex_display;
        padding-top: $padding*3;

        

        .jumbo_four_wrap {
            background-color: $white_text;
            border-radius: 18px;
            color:black;
            padding: $padding*3 $padding*8;
            margin-right: $padding*5;

            h3 {
                font-size: $font_title*2;
                position: relative;
            }

            p {
                color: #000000;
                padding: $padding 0;
                font-weight: bold;
            }

            .month_pay {
                font-size: $font_title*4;
                padding: $padding;
                font-weight: bold;

            }

        .dollar {
            margin-top: $padding*1.5;
            margin-right: $padding*10;
            font-size: $font_standard;
        }



            .jumbo_four_text {
                padding: $padding 0;

                span {
                    color: $gray_footer;
                }
            }

            button {
                margin-top: $padding*2;

                span {
                    padding-left: $padding;
                    
                    i {
                        vertical-align: middle;
                    }
                }
            }

            .month_pay_background {
                position: absolute;
                top: -50px;
                right: -18px;
                font-size: $font_title*13;
                color: #22222214;
                font-weight: 700;

            }

            &.jumbo_four_central_card {
                background: $coral_button;
                color: $white_text;

                
                p {
                    color: $white_text;
                }

                .month_pay {
                    &::after {
                        color:$white_text;
                    }
                }

                .jumbo_four_text {
                    span {
                        color: $white_text;
                    }
                }
    
                button {
                    color: coral;
                }
            }
        }
    }
}

.jumbo_five {
    background-color: white;
    padding-top: $padding;
    text-align: center;


    .jumbo_five_wrap {
        @include flex_display;
        justify-content: space-between;
        padding: $padding*4 0;

        .jumbo_one_text {
            background: $blue_dark;
            border-radius: 18px;            
            width: 25%;
            height: 380px;

            .jumbo_four_wrap {
                @include flex_display;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                padding: $padding*3;
                text-align: left;

                .jumbo_five_text_up {
                    color: $white_text;

                  

               
                    
                    .jumbo_five_data {
                        color: $white_text;
        
                        .circle_separator {
                            vertical-align: middle;
                            font-size: 2px;
                        }
        
                        .author {
                            color: $white_text;
                        }
                    }

                    h4 {
                        font-size: $font_title;
                        padding: $padding*2 0;
                    }

                    p {
                        font-size: $font_standard;
                        color: $white_text;
                    }
                }

                .jumbo_five_text_down {
                    button {
                        margin-top: 30px;
                        color: black;
                    }
                }
            }

            &.img_background {
                width: 38%;
                background-image: url('../../img/headway-537308-unsplash-1380x703.jpg');
                background-size: cover;

                .jumbo_five_text_up {
                    text-align: left;
                    width: 65%;

                    h4 {
                        padding: $padding 0;
                        font-size: $font_title;
                    }
                    
                }
                .jumbo_five_text_down {
                    text-align: end;
                }
            }
        }
    }
}

.jumbo_six {
    background-color: white;
    text-align: center;
    padding: $padding 0;

    h2 {
        font-weight: 900;
    
        span {
            font-weight: 400;
        }
    }

    .jumbo_six_wrap {
        @include flex_display;
        padding-top: $padding*4;

        .jumbo_six_content {
            padding: $padding;

            .icon_star {
                @include flex_display;
                justify-content: center;
                align-items: center;
                padding: $padding*3;

                i {
                    color: #B6246E;
                }
                
            }

            img {
                width: 95px;
                border-radius: 50%;
                border: 6px solid #B6246E;

            }

            .management {
                color: #000000;
                margin-top: $padding*2;
                padding: $padding/2;
                font-weight: bold;
            }
        }

    }

    .logo_clients {
        @include flex_display;
        padding: $padding*8 0;
        align-items: baseline;
        justify-content: space-around;
    }
}

.month {
    padding-bottom: $padding;
}
