.wrapper h2 {
    font-weight: 200;
}

.jumbo_one {
    padding: $padding*5;
    text-align: center;

    .jumbo_one_text {
        @include flex_display;
        padding: $padding*8 0;

        .jumbo_one_img {
            padding: $padding;

            h4 {
                padding: 15px 0;
                font-size: 30px;
            }

            img {
                width: 155px;
                height: 145px;
            }

            p {
                margin: auto;
                width: 65%;
            }
        }
    }
}

.jumbo_one_subtitle {
    color: tomato;
}

    .jumbo_two {
        align-items: center;
        @include flex_display;

        .jumbo_two_img {
            width: 50%;
            padding: $padding*5;
            position: relative;
            
            .img_graph {
                position: absolute;
                width: 70%;
            }

            img {
                width: 80%;
        }

    }
}

