.dark_background {
    background: $blue_dark;     
    color: $white_text;

.wrapper {

.navbar_header {
    @include flex_display;
    justify-content: space-between;
    align-items: center;

    .corporate_logo {
        @include flex_display;
        align-items: center;

        img {
            width: 160px;
        }
    }
    
    .nav_bar {
        @include flex_display;
        align-items: center;

        .nav_link {
            @include flex_display;
            
            li {
                padding: 0 10px;
                font-size: $font_title;

                &:first-child a {
                    color:tomato;
                }
                
                a {
                    color: $white_text;
                }
            }
        }
            button {
                margin-left: $padding*3;               
            }
        }
    }

    .buttons {
        color: white;
        padding: 15px 25px;
        border-radius: 18px;
        font-size: 15px;
        cursor: pointer;
    }
    
    .azure_button {
        border: #2955cc;
        background:$azure_button;
    }
    
    .coral_button {
        border: #B6246E;
        background: $coral_button;
    }
    
    .text_head {
        @include flex_display;
        padding: $padding*3 0;

        

        .img_head {
            width: 55%;
        }
     }
    }
}

