//padding
$padding: 10px;

//font_size
$font_standard: 12px;
$font_title: 22px;

//background
$blue_dark: linear-gradient(#0f0746, #040941);

//text color
$white_text: rgb(248, 248, 248);

//footer_text_color
$gray_footer: rgb(107, 107, 107);

//coral_button
$coral_button: linear-gradient(#f74b6e, #ca3d59);

//azure_button
$azure_button: linear-gradient(#206c97, #0a3b57);

